*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.result{
    height: 400px;
    flex-basis: 25%;
    border-radius: 15px;
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);     */
    background-color: hsla(241, 81%, 54%, 0.772)
}

.result .content{
    max-width: 76%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}

.content h1{
    color: hsl(241, 100%, 89%);
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0;
    
}

.content .circle{
    width: 150px;
    height: 150px;
    background-color: rgba(78, 33, 202, 0.444);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle h2{
    color: hsl(0, 0%, 100%);
    font-size: 55px;
}

.circle p{
    color: hsl(241, 100%, 89%)
}

.text h3{
    color: hsl(0, 0%, 100%);
    margin: 15px 0;
    font-size: 28px;
    font-weight: 200;
}

.text p{
    color: hsl(241, 100%, 89%)
}




.summary{
    height: 400px;
    flex-basis: 25%;
    border-radius: 0 15px 15px 0;
    border: 0px solid black;
    box-shadow: 0 0 0.1px 0.1px rgba(0, 0, 0, 0.5);
    
}

.summary h1{
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 12px;
}

.column{
    max-width: 76%;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-col{
    flex-basis: 23%;
    border-radius: 10px;
    margin-bottom: 18px;
    padding: 12px 5px;
    display: flex;
    flex-direction: row;
    
}

.column a{
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

.reaction{
    display: flex;
    background-color: hsla(0, 100%, 67%, 0.169);
    color: hsl(0, 100%, 67%);
}

.column img{
    margin: 0 5px;
}

.numeros {
    color: black;
    font-weight: bold;
}
  
.denominador {
    color: hsl(241, 100%, 89%)
}

.numbers{
    margin-left: 48px;
}

.numbers2{
    margin-left: 50px;
}

.numbers3{
    margin-left: 64px;
}

.numbers4{
    margin-left: 65px;
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.14);
    color: hsl(39, 100%, 56%);

}

.verbal{
    background-color: hsla(166, 100%, 37%, 0.262);
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsl(221, 100%, 96%);
    color: hsl(234, 85%, 45%);
}



@media(max-width: 800px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .result{
        width: 100%;
        margin: auto;
    }

    .summary{
        width: 100%;
        margin: auto;
    }

  

}